* {
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 1) url(https://media.moddb.com/cache/images/mods/1/51/50713/thumb_620x2000/creepy_forest.1.png);
    background-size: cover;

}


.title {
    font-size: 13vmin;
    color: white;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}


#time {
    font-size: 5vmin;
    color: white;
    text-align: center;
}

#winner {
    font-size: 5vmin;
    color: white;
    text-align: center;
    margin-bottom: 4vmin;
    max-width: 80vmin;
}

.gameboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 65vmin;
}

.memory_card {
    width: 13vmin;
    height: 16vmin;
    margin: 0.1vmin;
    text-align: center;
    background-color: #f0f0f0;
    border: 2px solid black;
    border-radius: 1vmin;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.flipped {
    transform: rotateY(180deg);
}

#backhome {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 5vmin;
    font-size: 2vmin;
    background-color: white;
    color: black;
    padding: 1vmin;
    text-decoration: none;
    border-radius: 2vmin;
    cursor: pointer;
}

#PA_button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5vmin;
    font-size: 2vmin;
    border-color: white;
    border-radius: 2vmin;
    padding: 1vmin;
    cursor: pointer;
}

