* {
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 1) url(https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg);


}

/*Welcome Page*/

.body {
    background-color: rgb(250, 248, 248);
    color: white;
    border: 1px solid rgb(10, 10, 10);
    opacity: .9;
    padding: 8vmin;
}

#title {
    color: white;
    font-size: 20vmin;
}

p {
    font-size: 3.5vmin;
    color: white;
    text-align: center;

}


#play {
    position: fixed;
    bottom: 1vmin;
    font-size: 5vmin;
    margin: 10vmin;
    background-color: white;
    color: black;
    padding: 1vmin;
    text-decoration: none;
    border-radius: 2vmin;
    cursor: pointer;
}

#play:hover {
    background-color: white;
}



/*Game Page*/

h1 {
    font-size: 12vmin;
    margin: 1vmin;
    color: white;
}

h2 {
    font-size: 4vmin;
    color: white;
    display: none;
}

.gameboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80vmin;
    margin: 8vmin;
}

 .memory_card {
    width: 10vmin;
    height: 20vmin;
    margin: 1vmin;
    text-align: center;
    background-color: #f0f0f0;
    border: 2px solid black;
    background-size: contain;
    cursor: pointer;
} 

#backhome {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 5vmin;
    font-size: 2vmin;
    background-color: white;
    color: black;
    padding: 1vmin;
    text-decoration: none;
    border-radius: 2vmin;
    cursor: pointer;
}

#PA_button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5vmin;
    font-size: 2vmin;
    cursor: pointer;
}

#backhome.hover {
    background-color: rgb(5, 5, 5);
}

#PA_button.hover {
    background-color: rgb(5, 5, 5);
}